In [250]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
import itertools as it

In [251]:
data = pd.read_csv('C:\\Skillfactory\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1347,tt0357277,43000000,56681566,Elektra,Jennifer Garner|Goran Visnjic|Will Yun Lee|Car...,Rob Bowman,Looks can kill,Elektra the warrior survives a near-death expe...,97,Action,Twentieth Century Fox Film Corporation|Regency...,1/13/2005,5.0,2005
1799,tt0172495,103000000,457640427,Gladiator,Russell Crowe|Joaquin Phoenix|Connie Nielsen|O...,Ridley Scott,A Hero Will Rise.,General Maximus' success in battle earns the f...,155,Action|Drama|Adventure,DreamWorks SKG|Universal Pictures|Scott Free P...,5/1/2000,7.7,2000
457,tt1196141,15000000,75700498,Diary of a Wimpy Kid,Zachary Gordon|Robert Capron|ChloÃ« Grace More...,Thor Freudenthal,"I'll be famous one day, but for now I'm stuck ...",Middle school isn't all it's cracked up to be ...,94,Comedy|Family,Color Force,3/19/2010,5.8,2010
838,tt0881320,30000000,108609310,Sanctum,Ioan Gruffudd|Richard Roxburgh|Alice Parkinson...,Alister Grierson,The only way out is down.,"The 3-D action-thriller Sanctum, from executiv...",108,Action|Thriller,Universal Pictures|Wayfare Entertainment|Sanct...,2/3/2011,5.7,2011
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000

In [252]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [253]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data['revenue'] - data['budget']
# получение столбца profit = revenue - budget


data.release_date = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
# получение столбца, в который помещается месяц выпуска каждого фильма


data['title_len'] = data['original_title'].str.len()
# получение столбца с количеством символов в названии фильма


data['overview_len'] = data['overview'].str.split().str.len()
# получение столбца с количеством слов в описании фильма

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [254]:
# в словарь вставляем номер вопроса и ответ на него

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [255]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]
# оставляем строку с наибольшим значением budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,43,75

ВАРИАНТ 2

In [256]:
# можно добавлять разные варианты решения
data.groupby(['original_title', 'imdb_id']
            )['budget'].max().sort_values(ascending=False)
# группируем названия фильмов по бюджету в порядке убывания

original_title                               imdb_id
Pirates of the Caribbean: On Stranger Tides  tt1298650    380000000
Pirates of the Caribbean: At World's End     tt0449088    300000000
Avengers: Age of Ultron                      tt2395427    280000000
John Carter                                  tt0401729    260000000
Tangled                                      tt0398286    260000000
                                                            ...
No Escape                                    tt1781922      5000000
Kill the Messenger                           tt1216491      5000000
As Above, So Below                           tt2870612      5000000
Ouija                                        tt1204977      5000000
Oculus                                       tt2388715      5000000
Name: budget, Length: 1889, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [257]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [258]:
data[data.runtime == data.runtime.max()]
# оставляем строку с наибольшим значением runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2,17,48

ВАРИАНТ 2

In [259]:
data.groupby(['original_title', 'imdb_id']
            )['runtime'].max().sort_values(ascending=False).head(1)
# группируем названия фильмов по длительности в порядке убывания
# и оставляем первое значение

original_title     imdb_id
Gods and Generals  tt0279111    214
Name: runtime, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [260]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [261]:
data[data.runtime == data.runtime.min()]
# оставляем строку с наименьшим значением runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4,15,52

# 4. Какова средняя длительность фильмов?

In [262]:
answers['4'] = '2. 110'

In [263]:
data.runtime.mean()
# извлекаем среднее значение runtime по серии (колонке)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [264]:
answers['5'] = '1. 107'

In [265]:
data.runtime.median()
# извлекаем медианное значение runtime по серии (колонке)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [266]:
answers['6'] = '5. Avatar (tt0499549)'

In [267]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]
# оставляем строку с наибольшим значением profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,6,28

# 7. Какой фильм самый убыточный?

In [268]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [269]:
data[data.profit == data.profit.min()]
# оставляем строку с наименьшим значением profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [270]:
answers['8'] = '1. 1478'

In [271]:
len(data[data.revenue > data.budget])
# оставляем те строки, значение revenue в которых больше budget
# определяем количество таких строк

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [272]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [273]:
data[data.release_year == 2008].sort_values(
    ['revenue'], ascending=False).head(2)
# вывод первых двух фильмов 2008 г.из списка, отсортированного по revenue в порядке убывания

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,5.6,2008,601636033,5,50,74

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [274]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [275]:
data[(data.release_year >= 2012)&
     (data.release_year <= 2014)].sort_values(
    ['profit'], ascending=True).head(1)
# вывод первого фильма в диапазоне 2012-2014 гг.из списка, отсортированного по profit в порядке возрастания

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,68

# 11. Какого жанра фильмов больше всего?

In [276]:
answers['11'] = '3. Drama'

In [277]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.genres.str.split('|').explode().value_counts().index[0]
# разделяем жанры по разделителю "|" и разбиваем фильмы по отдельному жанру
# подсчитываем для каждого значения genres количество фильмов по убыванию
# вызываем первый элемент индекса

'Drama'

ВАРИАНТ 2

In [278]:
data.genres.str.split('|').explode().mode()[0]
# вызываем наиболее частый элемент

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [279]:
answers['12'] = '1. Drama'

In [280]:
data[data.profit > 0].genres.str.split('|').explode().mode()[0]
# оставляем те строки, значение profit в которых положительно
# разделяем жанры по разделителю "|" 
# разбиваем фильмы по отдельному жанру
# вызываем наиболее частый элемент

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [281]:
answers['13'] = '5. Peter Jackson'

In [282]:
data_13 = data.copy()
data_13.groupby(['director'])['revenue'].sum().sort_values(
    ascending=False).head()
# группируем режиссеров по суммарному значению revenue в порядке убывания
# и оставляем первые пять значений

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [283]:
answers['14'] = '3. Robert Rodriguez'

In [284]:
data_14 = data.copy()
data_14[data_14.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]
# оставляем те строки, в которых содержится жанр Action
# разделяем режиссеров по разделителю "|" 
# разбиваем фильмы по отдельным режиссерам
# вызываем наиболее частый элемент

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [285]:
answers['15'] = '3. Chris Hemsworth'

In [286]:
data_15 = data.copy()
data_15 = data_15[data_15.release_year == 2012]
data_15['cast'] = data_15.cast.str.split('|')
data_15 = data_15.explode('cast')
data_15.pivot_table(['revenue'], ['cast'], aggfunc='sum', fill_value = 0
                   ).nlargest(5, 'revenue')
# формируем сводную таблицу по суммарным кассовым сборам
# за 2012 г. среди каждого актера, разделенного по "|"
# выводим первые пять строк

                    revenue
cast
Chris Hemsworth  2027450773
Denis Leary      1629460639
Anne Hathaway    1522851057
Chris Evans      1519557910
Mark Ruffalo     1519557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [287]:
answers['16'] = '3. Matt Damon'

In [288]:
data_16 = data.copy()
data_16[data_16.budget > data_16.budget.mean()].cast.str.split('|').explode().mode()[0]
# оставляем те строки, в которых бюджет превышает средний по серии
# разделяем актеров по разделителю "|" 
# разбиваем фильмы по отдельным актерам
# вызываем наиболее частый элемент

'Matt Damon'

In [ ]:
# ВАРИАНТ 2

In [292]:
data_16 = data.copy()
data_16 = data_16[data_16.budget > data_16.budget.mean()]
# оставляем те строки, в которых бюджет превышает средний по серии
data_16['cast'] = data_16.cast.str.split('|')
# разделяем актеров по разделителю "|" 
data_16 = data_16.explode('cast')
# разбиваем фильмы по отдельным актерам
data_16.pivot_table(['budget'], ['cast'], aggfunc='count', fill_value = 0
                   ).nlargest(5, 'budget')
# формируем сводную таблицу по количеству высокобюджетных фильмов на каждого актера
# выводим первые пять строк

                   budget
cast
Matt Damon             18
Adam Sandler           17
Angelina Jolie         16
Eddie Murphy           15
Samuel L. Jackson      15

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [294]:
answers['17'] = '2. Action'

In [295]:
data_17 = data.copy()
data_17[data_17.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode('genres').mode()[0]
# оставляем строки, в которых содержится актер Nicolas Cage
# разделяем жанры по разделителю "|" 
# разбиваем фильмы по отдельным жанрам
# вызываем наиболее частый элемент

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [296]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [297]:
data_18 = data.copy()
a = data_18[data_18.production_companies.str.contains('Paramount Pictures')]
# оставляем строки, в которых содержится студия Paramount Pictures
a.groupby(['original_title']
            )['profit'].min().sort_values(ascending=True).head()
# группируем фильмы по наименьшей прибыли (наибольшему убытку) в порядке возрастания
# вызываем первые пять элементов

original_title
K-19: The Widowmaker   -64831034
Timeline               -60519261
Next                   -51788987
Alfie                  -46604061
Twisted                -24805000
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [298]:
answers['19'] = '5. 2015'

In [299]:
data_19 = data.copy()
data_19.groupby(['release_year']
               )['revenue'].sum().sort_values(ascending=False)
# группируем фильмы по суммарным сборам за каждый год в порядке убывания

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [302]:
answers['20'] = '1. 2014'

In [301]:
data_20 = data.copy()
a = data_20[data_20.production_companies.str.contains('Warner Bros')]
# оставляем строки, в которых содержится студия Warner Bros
a.groupby(['release_year']
            )['profit'].sum().sort_values(ascending=False)
# группируем фильмы по суммарной прибыли по годам в порядке убывания

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [314]:
answers['21'] = '4. Сентябрь'

In [315]:
# приводим столбец release_date к типу datetime
# создаём в датафрейме Новый столбец, в который помещаем месяц выпуска каждого фильма
data.release_date.dt.month.value_counts()
# используем функцию value_counts для подсчета по месяцам

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [316]:
answers['22'] = '2. 450'

In [304]:
data_22 = data.copy()
a = data_22[(data_22.release_month >= 6)&
       (data_22.release_month <= 8)]
# оставляем строки в диапазоне летних месяцев
len(a)
# считаем количество строк

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [317]:
answers['23'] = '5. Peter Jackson'

In [52]:
data_23 = data.copy()
a = data_23[(data_23.release_month == 12)|
       (data_23.release_month <= 2)]
# оставляем строки в диапазоне зимних месяцев
a.groupby(['director'])['release_month'].sum().sort_values(ascending=False).head()
# группируем режиссеров по суммарным релизам за зиму

director
Peter Jackson        84
Clint Eastwood       61
Steven Soderbergh    51
Nancy Meyers         48
Martin Scorsese      38
Name: release_month, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [305]:
answers['24'] = '5. Four By Two Productions'

In [107]:
# добавляем в датафрейм новую колонку с количеством элементов в названии фильма
data_24 = data.copy()
data_24 = data_24[data_24.title_len > data_24.title_len.mean()]
data_24['production_companies'] = data_24.production_companies.str.split('|')
data_24 = data_24.explode('production_companies')
data_24.groupby(['production_companies'])['title_len'].max().sort_values(ascending=False).head()
# группируем по студиям

production_companies
Twentieth Century Fox Film Corporation    83
Four By Two Productions                   83
Walt Disney                               62
Walden Media                              62
Jim Henson Company, The                   59
Name: title_len, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [306]:
answers['25'] = '3. Midnight Picture Show'

In [109]:
# добавляем в датафрейм новую колонку с количеством слов в описании фильма
data_25 = data.copy()
data_25 = data_25[data_25.overview_len > data_25.overview_len.mean()]
data_25['production_companies'] = data_25.production_companies.str.split('|')
data_25 = data_25.explode('production_companies')
data_25.groupby(['production_companies'])['overview_len'].max().sort_values(ascending=False).head()
# группируем по студиям

production_companies
Lions Gate Films           175
Lakeshore Entertainment    175
Midnight Picture Show      175
GreeneStreet Films         175
Flynn Picture Company      169
Name: overview_len, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [309]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [310]:
data26 = data.copy()
procent_99 = np.percentile(data26.vote_average, 99)
# записываем в переменную оценку равную 99% от средней
data26[data26.vote_average >= procent_99].sort_values(
    by='vote_average', ascending=False)['original_title']
# выводим все фильмы с оценкой выше или равной 99%

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [311]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint '

In [60]:
cast_pairs = data.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list( it.combinations(sorted(x), 2)))
cast_pairs.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

ВАРИАНТ 2

# Submission

In [318]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint ',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson'}

In [319]:
# и убедиться что ни чего не пропустил)
len(answers)

27